{{ if ne .Params.share false}}
<div class="share">
  Partager cet article&nbsp;: 
  <a  aria-label="facebook" 
      href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"
      onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"
      ><span aria-hidden class="fab fa-facebook-square" title="facebook"></span
      ><span class="sr-only">Partager sur facebook</span></a>
      
  <a  aria-label="twitter" 
      href="https://twitter.com/share?text={{ .Title | safeHTML}}&amp;url={{ .Permalink }}"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"
			><span aria-hidden class="fab fa-twitter" title="twitter"></span
			><span class="sr-only">Partager sur Twitter</span></a>
</div>
{{end}}
